app-summary {
    .view {
        margin-top: 10px;
        margin-left: 10px;
    }

    .card {
        height: 300px;
        margin-bottom: 10px;
    }

    .card:last-child {
        margin-right:10px;
    }

    .summary-table {
        margin: 0px 10px 10px 0px;
    }

    .up {
        color: greenyellow;
    }

    .down {
        color: red;
    }
}